div#calculator{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

input[type="text"]{
    
    grid-column: span 3;
    font-size: 50px;
}

button{
    font-size: 50px !important;

}